.dashboard-layout {
  min-height: 100vh;
}

/* SIDEBAR */
.custom-sider {
  background: white !important;
  border-right: 1px solid #eee;

  display: flex;
  flex-direction: column;
}

/* LOGO */
.sidebar-logo {
  padding: 28px 24px;
  border-bottom: 1px solid #f0f0f0;
}

.sidebar-logo h2 {
  margin: 0;
  color: #ff8827;
  font-weight: 700;
}

.sidebar-logo p {
  margin: 0;
  color: #777;
  font-size: 13px;
}

/* menu chính */
.main-menu {
  flex: 1;
  border: none !important;
  padding-top: 20px;
}

/* menu cuối */
.sidebar-bottom {
  border-top: 1px solid #f0f0f0;
  padding-bottom: 20px;
}

.sidebar-bottom .ant-menu {
  border: none !important;
}

/* content */
.dashboard-content {
  padding: 24px;
  background: #f8f8fb;
}

.main-menu .ant-menu-item:hover {
  background-color: #fff1d6 !important;
  color: #000000 !important;
}

.main-menu .ant-menu-item-selected {
  background-color: #ff8827 !important;
  color: #020202 !important;
}

.sidebar-bottom .ant-menu-item:hover {
  background-color: #fff1d6 !important;
  color: #000000 !important;
}

.sidebar-bottom .ant-menu-item-selected {
  background-color: #ff8827 !important;
  color: #020202 !important;
}