
.bt {
  border-color: #fff1d6 !important;
  background-color: #fff1d6 !important;
  color: #333 !important;
}
.bt:hover {
  background-color: #f59e0b !important;
  border-color: #f59e0b !important;
}
.subject-card{
  border-radius: 12px;
  border-color: #e5e7eb;
  background-color: #d0e6ff;
  cursor: pointer;
  transition: 0.2s;
}