.question-form-page {
  padding: 24px;
}

.form-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.question-form-card {
  background: white;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid #f3e6d1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.question-form-card h1 {
  margin-bottom: 24px;
}

.bt-save {
  background: #ff8827 !important;
  border-color: #ff8827 !important;
  color: white !important;
}

.bt-back {
  border-color: #fff1d6 !important;
  background: #fff1d6 !important;
}

/* nền dropdown */
.student-select-dropdown .ant-select-item {
  background: #fff !important;
  transition: all 0.2s;
}

/* hover item -> cam */
.student-select-dropdown .ant-select-item-option-active {
  background: #fff !important;
  background-color: #fff !important;
  color: #101010 !important;
}

/* item đang được hover */
.student-select-dropdown .ant-select-item-option:hover {
  background: #fff !important;
  color: #fa8c16 !important;
}

/* item đã chọn */
.student-select-dropdown .ant-select-item-option-selected {
  background: #fff !important;
  font-weight: bold !important;
  color: #262626 !important;
}

/* dấu tick giữ nguyên nhưng không bị xanh */
.student-select-dropdown .ant-select-item-option-selected::after {
  color: #fa8c16 !important;
}

.ant-select-item-option-selected {
  background-color: #ffffff !important;
  color: #333 !important;
}

.custom-select-dropdown {
  background-color: #ffffff  !important;
  border-radius: 12px !important;
}
.custom-select-dropdown:hover {
  background-color: #ffffff  !important;
  border-radius: 12px !important;
}
.custom-select-dropdown .ant-select-item-option-active {
  background-color: #fff1d6 !important;
}

.answer-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.answer-label {
  width: 24px;
  font-weight: 600;
  color: #555;
  font-size: 16px;
}

.answer-input {
  flex: 1;
}

.subject-row{
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  align-items: stretch;
}

.bt-add-subject{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}