.custom-header {
  height: 80px;
  background: white;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 32px;

  border-bottom: 1px solid #f1f1f1;
}

/* SEARCH BOX */
.header-search {
  width: 280px;
  height: 46px;

  background: white;
  border-radius: 24px;

  display: flex;
  align-items: center;

  padding: 0 18px;
  gap: 12px;
}

.search-icon {
  color: #8892a6;
  font-size: 18px;
}

.header-search input {
  border: none;
  outline: none;
  background: transparent;

  width: 100%;

  font-size: 15px;
  color: #333;
  font-family: "Roboto", sans-serif;
}

/* RIGHT */
.header-right {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header-icon {
  font-size: 20px;
  color: #475467;
  cursor: pointer;
  transition: 0.2s;
}

.header-icon:hover {
  color: #f5a623;
}

/* divider */
.header-divider {
  width: 1px;
  height: 28px;
  background: #e5e7eb;
}

/* USER */
.header-user {
  display: flex;
  align-items: center;
  gap: 12px;

  font-weight: 500;
  color: #111827;
}

/* avatar */
.avatar {
  width: 42px;
  height: 42px;

  border-radius: 50%;

  background: #fff7e6;
  border: 2px solid #f5a623;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #f5a623;
  font-size: 18px;
}